<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
		                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		                    http://www.springframework.org/schema/context 
		                    http://www.springframework.org/schema/context/spring-context-3.0.xsd
		                    http://www.springframework.org/schema/tx 
		                    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		                    http://www.springframework.org/schema/aop 
		                    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"> 
	<bean id="employeeDao" class="ssh.dao.impl.EmployeeDaoImpl" parent="baseDao">
	</bean>
	
	<bean id="leaveBillDao" class="ssh.dao.impl.LeaveBillDaoImpl" parent="baseDao">
	</bean>
	
	<bean id="departmentDao" class="ssh.dao.impl.DepartmentDaoImpl" parent="baseDao">
	</bean>
	
	<bean id="emosUserDao" class="ssh.dao.impl.EmosUserDaoImpl" parent="baseDao">
	</bean>
	
	<bean id="areaDao" class="ssh.dao.impl.AreaDaoImpl" parent="baseDao">
	</bean>
	
	<bean id="dicttypeDao" class="ssh.dao.impl.DicttypeDaoImpl" parent="baseDao">
	</bean>
	
	<bean id="cptRoomDao" class="ssh.dao.impl.CptRoomDaoImpl" parent="baseDao">
	</bean>
	
	<bean id="roleDao" class="ssh.dao.impl.RoleDaoImpl" parent="baseDao">
	</bean>
	
	<bean id="emosWorkFlowDao" class="ssh.dao.impl.EmosWorkFlowDaoImpl" parent="baseDao">
	</bean>
	
	<bean id="subRoleDao" class="ssh.dao.impl.SubRoleDaoImpl" parent="baseDao">
	</bean>
</beans>